<div class="container-sm mt-4 mb-4">



  <!--  saran -->
  <div class="row mt-3">
    <div class="col">

      <button type="button" class="btn btn-primary">
        <mat-icon>chat</mat-icon> Saran
      </button>
    </div>
  </div>
  <div class="row mt-3" label="Vidio">


    <div class="col-sm-6">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Kritik & Saran</p>

        <!-- Name -->
        <input label="Nama" type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nama">

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Subject -->
        <label>Subject</label>
        <select class="browser-default custom-select mb-4">
          <option value="" disabled>Pilih</option>
          <option value="1" selected>Kritik</option>
          <option value="2">Saran</option>

        </select>

        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Pesan"></textarea>
        </div>


        <!-- Send button -->
        <button mdbBtn color="info" block="true" type="submit">Send</button>

      </form>
      <!-- Default form contact -->
    </div>
    <div class="col-sm-6">
      <div class="card bg-primary text-light">
        <div class="card-body">
          <h2 class="card-title">Pesan Dan Saran</h2>
          <p class="text-justify">
            Mari ikut ber kontribusi mengembangkan pembelajaran syariah.Kami sangat terbuka dengan masukan
            berupa kritik dan saran dari anda, agar dapat lebih berkualitas dalam menyediakan informasi tentang
            ilmu syariah.Kami berharap aplikasi sederhana kami ini, dapat bermanfaat bagi seluruh kalangan.
          </p>

        </div>
      </div>
    </div>
  </div>



</div>
