<!--<div class="container">-->
<!--  <div class="row row-centered pos">-->
<!--    <div class="col-lg-4 col-xs-12 col-centered bg-warning">-->
<!--      <div class="well">tara</div>-->
<!--    </div>-->
<!--    <div class="col-lg-4 col-xs-12 col-centered bg-danger">-->
<!--      <div class="well">tara</div>-->
<!--    </div>-->
<!--    <div class="col-lg-4 col-xs-12 col-centered bg-dark">-->
<!--      <div class="well">tara</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-sm mt-4 mb-4">


  <div class="row shadow">
    <div class="col-lg-8  col-xs-12">
      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Terjemahkan</span>
        </div>
        <input type="text" class="form-control" placeholder="Cari .... " id="basic-url" aria-describedby="basic-addon3">
      </div>
      <app-kamus></app-kamus>
    </div>
<!--    side kamus start-->
    <div class="col-lg-4  col-xs-12" style="background-color: #33b5e5;">
     <h2 class="align-content-center mt-2"><span class="badge badge-light text-info">Berita Populer</span></h2>
<div class="row border shadow m-2 p-1 bg-light">
  <div class="col-3 p-0">
   <a routerLink=""><img src="assets/zainuddin.jpg" alt="..." class=" card-img-top rounded"></a>
  </div>
  <div class="col text-info">
   <a routerLink=""><h3 class="font-weight-bold text-uppercase m-0">Judul Berita</h3></a>
    isi berita ada disini, berita terbaru yang baru saja di kirim
  </div>
</div>

      <div class="row border shadow m-2 p-1 bg-light">
        <div class="col-3 p-0">
          <a routerLink=""><img src="assets/zainuddin.jpg" alt="..." class=" card-img-top rounded"></a>
        </div>
        <div class="col text-info">
          <a routerLink=""><h3 class="font-weight-bold text-uppercase m-0">Judul Berita</h3></a>
          isi berita ada disini, berita terbaru yang baru saja di kirim
        </div>
      </div>

      <div class="row border shadow m-2 p-1 bg-light">
        <div class="col-3 p-0">
          <a routerLink=""><img src="assets/zainuddin.jpg" alt="..." class=" card-img-top rounded"></a>
        </div>
        <div class="col text-info">
          <a routerLink=""><h3 class="font-weight-bold text-uppercase m-0">Judul Berita</h3></a>
          isi berita ada disini, berita terbaru yang baru saja di kirim
        </div>
      </div>

      <div class="row border shadow m-2 p-1 bg-light">
        <div class="col-3 p-0">
          <a routerLink=""><img src="assets/zainuddin.jpg" alt="..." class=" card-img-top rounded"></a>
        </div>
        <div class="col text-info">
          <a routerLink=""><h3 class="font-weight-bold text-uppercase m-0">Judul Berita</h3></a>
          isi berita ada disini, berita terbaru yang baru saja di kirim
        </div>
      </div>

    </div>
  </div>
  <!--  end of kamus atas-->
</div>

<!--berita terbaru start -->
<div class="container-sm border pb-5">




  <div class="row mt-3">
    <div class="col">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent" selected>Berita Terbaru</mat-chip>
      </mat-chip-list>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3 mt-4">
      <!-- Card -->
      <div class="card shadow">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/img (67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Baca . . . . -->
          <a href="#" class="btn btn-primary">Baca . . . .</a>

        </div>

      </div>
      <!-- Card -->
    </div>


    <div class="col-sm-3 mt-4">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/img (67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Card title</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Baca . . . . -->
          <a href="#" class="btn btn-primary">Baca . . . .</a>

        </div>

      </div>
      <!-- Card -->
    </div>


    <div class="col-sm-3 mt-4">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/img (67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">kabar</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Baca . . . . -->
          <a href="#" class="btn btn-primary">Baca . . . .</a>

        </div>

      </div>
      <!-- Card -->
    </div>



    <div class="col-sm-3 mt-4">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/img (67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Berita</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Baca . . . . -->
          <a href="#" class="btn btn-primary">Baca . . . .</a>

        </div>

      </div>
      <!-- Card -->
    </div>


    <div class="col-sm-3 mt-4">
      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/img (67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">syariah</h4>
          <!-- Text -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Baca . . . . -->
          <a href="#" class="btn btn-primary">Baca . . . .</a>

        </div>

      </div>
      <!-- Card -->
    </div>

  </div>
</div>
<!--Vidio Terbaru -->
<div class="container-sm shadow pb-5">
  <div class="row mt-3 mb-4">
    <div class="col m-4">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent" selected>Vidio Terbaru</mat-chip>
      </mat-chip-list>
    </div>
  </div>
<div class="row">
  <div class="col-lg-12 col-xs-12 align-content-center align-items-center">
    <iframe class="col-lg-12 col-xs-12" height="615" src="https://www.youtube.com/embed/_5BOma_GvAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
<!--  thumbnail vidio start-->
  <div class="card-deck ">
    <div class="card col-sm-4 m-2 shadow">

      <!-- Card image -->
      <div class="view overlay sha">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/_5BOma_GvAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="#!">
          <div class="mask rgba-white-slight text-uppercase">asa</div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Vidio 1</h4>
        <!-- Text -->
        <p class="card-text">Keterangan vidio di sini.</p>
        <!-- Baca . . . . -->
        <a href="#" class="btn btn-primary">Baca . . . .</a>

      </div>

    </div>

    <div class="card col-sm-4 m-2 shadow">

      <!-- Card image -->
      <div class="view overlay sha">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/_5BOma_GvAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="#!">
          <div class="mask rgba-white-slight text-uppercase">asa</div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Vidio 1</h4>
        <!-- Text -->
        <p class="card-text">Keterangan vidio di sini.</p>
        <!-- Baca . . . . -->
        <a href="#" class="btn btn-primary">Baca . . . .</a>

      </div>

    </div>
    <div class="card col-sm-4 m-2 shadow">

      <!-- Card image -->
      <div class="view overlay sha">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/_5BOma_GvAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="#!">
          <div class="mask rgba-white-slight text-uppercase">asa</div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Vidio 1</h4>
        <!-- Text -->
        <p class="card-text">Keterangan vidio di sini.</p>
        <!-- Baca . . . . -->
        <a href="#" class="btn btn-primary">Baca . . . .</a>

      </div>

    </div>
    <div class="card col-sm-4 m-2 shadow">

      <!-- Card image -->
      <div class="view overlay sha">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/_5BOma_GvAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="#!">
          <div class="mask rgba-white-slight text-uppercase">asa</div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Vidio 1</h4>
        <!-- Text -->
        <p class="card-text">Keterangan vidio di sini.</p>
        <!-- Baca . . . . -->
        <a href="#" class="btn btn-primary">Baca . . . .</a>

      </div>

    </div>
<!--    card vidio 2 end-->
     </div>

</div>
</div>
