<div class="container-sm">
  <div class="row mt-4 mb-4">
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cari Berita" aria-label="Cari Berita" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon2">Cari</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-1">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Judul beritanya</h5>
              <p class="card-text">Isi berita syariah</p>
              <p class="card-text"><small class="text-muted">Di kirim pada 12 - 12 - 2020</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>






</div>
