<div class="container-sm">
  <div class="row m-4">
    <div class="col text-center">
      <h1>KAMUS SHARE - e</h1>
      Adalah aplikasi kamus yang kami kembangkan dengan tujuan agar menjadi media belajar, untuk semua kalangan
      agar lebih mengenal tentang ilmu syariah.Adapun pihak - pihak yang terlibat dalam
      pembuatan aplikasi kamus ini adalah sebagai berikut :

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center text-lg-center">

      <span class="badge-danger p-2 rounded shadow font-weight-bold text-break" style="letter-spacing: 2px;">
        <i class="fa fa-align-right"></i>
         PENASEHAT
      <i class="fa fa-align-left"></i>
      </span>

    </div>
    <div class="col-sm-6 mt-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/fauzan.jpeg" class="card-img" alt="unisnu jepara fakultas syariah">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Penasihat Content Syariah</h5>
              <p class="card-text">Ahmad Fauzan Mubarok, S.E., M.Sy.</p>
              <p class="card-text"><small class="text-muted">Dosen Perbankan Syariah</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mt-4">
      <div class="card mb-3" style="">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Penasihat Sistem Informasi</h5>
              <p class="card-text">Noor Azizah, M.Kom.</p>
              <p class="card-text"><small class="text-muted">Dosen UNISNU Jepara</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/noor.jpg" class="card-img" alt="UNISNU jepara fakultas SAINTEK">
          </div>
        </div>
      </div>
    </div>

  </div>

<!--  editor-->
  <div class="row">
    <div class="col-sm-12 text-center text-lg-center">
        <span class="badge-info p-2 rounded shadow font-weight-bold text-break" style="letter-spacing: 2px;">
       <i class="fa fa-edit"></i> EDITOR
      </span>


    </div>
    <div class="col-sm-6 mt-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/sania.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Editor 1</h5>
              <p class="card-text">Latifatus Sania</p>
              <p class="card-text"><small class="text-muted">Mahasiswi : Fakultas Syariah Dan Hukum</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mt-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Editor 2</h5>
              <p class="card-text">ibu Noor Azizah, msi</p>
              <p class="card-text"><small class="text-muted">Dosen UNISNU Jepara</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
        </div>
      </div>
    </div>

  </div>
<!--  EDITOR END-->

<!--  BIDANG TEKNOLOGI-->
  <div class="row">
    <div class="col-sm-12 text-center text-lg-center">BIDANG TEKNOLOGI</div>
    <div class="col-sm-6 mt-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/zainuddin.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sistem Informasi</h5>
              <p class="card-text">A.H.Sharuddin</p>
              <p class="card-text"><small class="text-muted">Mahasiswa : Sistem Informasi<br /> SEMESTER : 5</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
